<h1>Home Page</h1>
<ul>
<% if current_user.nil? %>
  <li><%= link_to "log in", login_path %></li>
  <li><%= link_to "Sign up", new_user_path %></li>
<% else %>
  <h3><%= current_user.name %> has logged in</h3>
  <li><%= link_to "Sign Out", logout_path, method: :delete %></li>
<% end %>
  <li><%= link_to "Posts", posts_path %></li>
</ul>