<h1>Sign In</h1>

<%= form_for(:session, url: login_path) do |f| %>

  <div>
    <% unless flash.empty? %>
      <% flash.each do |name, msg| -%>
        <%= msg %>
      <% end %>
    <% end %>
  </div>

  <%= f.label :email %>
  <%= f.email_field :email %>
  <br />
  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Sign In" %>
<% end %>

<%= link_to "Back to homepage", root_url %>