<h1>All posts</h1>

<br>
<%= link_to "Create new post", new_post_path %>
/
<%= link_to "log out", logout_path, method: :delete %>

<br>
<ul>
  <% @posts.each do |p| %>
    <li>
      <% if current_user.nil? %>
        <p><strong>Anonymous:</strong> <%= p.content %></p>
      <% else %>
        <p><strong><%= p.user.name %> :</strong> <%= p.content %></p>
      <% end%>
    </li>
  <% end %>
</ul>